@{
    ViewData["Title"] = "To Do List";
}

@model List<sep_project.Models.Task>


<section class="vh-100 gradient-custom" style="background-color:dimgrey">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">

                <div class="card">
                    <div class="card-body p-5">

                    @*     <form class="d-flex justify-content-center align-items-lg-center mb-4">
                            <div data-mdb-input-init class="form-outline flex-fill">
                                <label class="form-label" for="form2"> Add New task </label>
                                <input type="text" id="form2" class="form-control" />
                                <br />
                                <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-info ms-2">Add</button>
                            </div>
                            <button class="btn btn-info" data-bs-target="#add_Task" data-bs-toggle="modal">Add New Task</button>
                        
                        </form> *@
                        <button class="btn btn-info" data-bs-target="#add_Task" data-bs-toggle="modal">Add New Task</button>
                        <br />
                        <br />
                        <!-- Tabs navs -->
                        <ul class="nav nav-tabs mb-4 pb-2" id="ex1" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" id="ex1-tab-1" data-mdb-tab-init href="#ex1-tabs-1" role="tab"
                                   aria-controls="ex1-tabs-1" aria-selected="true">All</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="ex1-tab-2" data-mdb-tab-init href="#ex1-tabs-2" role="tab"
                                   aria-controls="ex1-tabs-2" aria-selected="false">Active</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="ex1-tab-3" data-mdb-tab-init href="#ex1-tabs-3" role="tab"
                                   aria-controls="ex1-tabs-3" aria-selected="false">Completed</a>
                            </li>
                        </ul>
                        <!-- Tabs navs -->
                        <!-- Tabs content -->
                       
                        @foreach (var data in Model)
                        {
                        <div class="tab-content" id="ex1-content">
                            <div class="tab-pane fade show active" id="ex1-tabs-1" role="tabpanel"
                                 aria-labelledby="ex1-tab-1">
                                  
                                <ul class="list-group mb-0">
                                    <li class="list-group-item d-flex align-items-center border-0 mb-2 rounded"
                                        style="background-color: #f4f6f7;">
                                        <input class="form-check-input me-2" type="checkbox" value="" aria-label="..." checked />
                                        <s>@data.Title</s>
                                    </li>
                                   
                                </ul>
                                
                            </div>
                            <div class="tab-pane fade" id="ex1-tabs-2" role="tabpanel" aria-labelledby="ex1-tab-2">
                                <ul class="list-group mb-0">
                                    <li class="list-group-item d-flex align-items-center border-0 mb-2 rounded"
                                        style="background-color: #f4f6f7;">
                                        <input class="form-check-input me-2" type="checkbox" value="" aria-label="..." />
                                        @data.Title
                                    </li>
                              
                                </ul>
                            </div>
                            <div class="tab-pane fade" id="ex1-tabs-3" role="tabpanel" aria-labelledby="ex1-tab-3">
                                <ul class="list-group mb-0">
                                    <li class="list-group-item d-flex align-items-center border-0 mb-2 rounded"
                                        style="background-color: #f4f6f7;">
                                        <input class="form-check-input me-2" type="checkbox" value="" aria-label="..." checked />
                                        <s>@data.Title</s>
                                    </li>
                                   
                                </ul>
                            </div>
                        </div>
                        <!-- Tabs content -->
                        }
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- Add Department Modal -->
<div class="modal fade" id="add_Task" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-action="Create_Task" asp-controller="home" method="post">
                @Html.AntiForgeryToken()

                <div class="modal-header">
                    <h5 class="modal-title">Add New Task</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3>
                        <label for="task" class="form-label">Task Name</label>
                        <input id="task" class="form-control" name="Title" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" asp-action="create_task" asp-asp-controller="home">Add</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts
{
    <script>
        document.addEventListener("DOMContentLoaded", function ()
        {
              var showSuccess ='@TempData["showSuccess"]';
                var showError = '@TempData["showError"]';
                if (showSuccess === 'True')
                {
                    alert('Task added successfully!');
                }
                if(shoeError&&showError!=='null' && showError!=='')
                 {
                    alert('Error during the add process: ' + showError);
                  }
        });
    </script>


}

